@import "mixin";
.section-header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: 0.3s;
  padding: 2rem 0;
  box-shadow: 1px 2px 5px rgba($color: #000, $alpha: 0.2);
}
.cont-header {
  @include grid;
  @include d-flex;
  justify-content: center;
}
.logo-header a {
  font-size: 1.5rem;
}
.menu-header {
  background: #fff;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  height: 0;
  visibility: 0;
  overflow-y: hidden;
  transition: 0.3s;
  width: 100%;
}
.menu-header nav ul li {
  text-align: center;
  margin: 32px 0;
  @include font-titulos;
}
.menu-header nav ul li a {
  color: #000;
}
.responsive-menu-active .menu-header nav ul li a {
  color: #000;
}
.responsive-menu span {
  position: relative;
  background: none;
  border: none;
  display: block;
  width: 1.5625rem;
  border-top: 3px solid $primary-color;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 2rem;
}
.responsive-menu span::after,
.responsive-menu span::before {
  position: relative;
  content: "";
  border-radius: 5px;
  display: block;
  width: 1.5625rem;
  border-radius: 3px;
  height: 3px;
  background: $primary-color;
  margin-top: 0.375rem;
  transition: 0.3s;
}
.responsive-menu-active .secao-header {
  background: $primary-color;
}
.responsive-menu-active .menu-header {
  height: 150vh;
  visibility: visible;
  overflow: auto;
}
.responsive-menu-active .responsive-menu span {
  border-top: none;
}
.responsive-menu-active .responsive-menu span::before {
  transform: rotate(135deg);
  background: #000;
}
.responsive-menu-active .responsive-menu span::after {
  transform: rotate(-135deg);
  top: -0.5625rem;
  background: #000;
}
@media (min-width: 1025px) {
  .logo-header a {
    font-size: 2.25rem;
  }
  .menu-header {
    background: unset;
    position: unset;
    display: block;
    height: unset;
    visibility: visible;
    overflow-y: hidden;
    transition: none;
    width: unset;
  }
  .menu-header nav ul li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.25rem;
  }
  .menu-header nav ul li a {
    transition: 0.3s;
    color: #000;
    position: relative;
  }
  .menu-header nav ul li a:hover {
    color: #303030;
  }
  .menu-header nav ul li a::after {
    content: "";
    position: absolute;
    background: #a60000;
    height: 2px;
    width: 0;
    transition: 0.3s;
    left: 0;
    bottom: 5%;
  }
  .menu-header nav ul li a:hover::after {
    width: 100%;
  }
  .responsive-menu {
    display: none;
  }
}
