@import "mixin";
//Introduction
.section-introduction {
  margin-top: 87px;
}
.cont-introduction {
  @include grid;
}
.text-introduction {
  margin-top: 2rem;
}
.text-introduction h1 {
  @include font-titulos;
}
.text-introduction h2 {
  font-size: 1.25rem;
  color: #707070;
}
.text-introduction p {
  margin: 1.5rem 0;
  @include font-textos;
}
.text-introduction a {
  @include primary-button;
}
.txt-portfolio {
  margin: 2rem 0;
  @include font-titulos;
}
@media (min-width: 1025px) {
  .section-introduction {
    margin-top: 200px;
  }
  .cont-introduction {
    @include d-flex;
    flex-direction: row-reverse;
  }
  .text-introduction,
  .image-introduction {
    width: 50%;
  }
  .txt-portfolio {
    font-size: 32px;
    margin: 3rem 0;
  }
}
//Services
.section-services {
  @include margin-secao;
}
.cont-services {
  @include grid;
}
.itens-services {
  @include d-flex;
  overflow: auto;
  padding: 2rem 0;
}
.item-services {
  min-width: 100%;
  margin: 0 1rem;
  padding: 2rem;
  box-shadow: 1px 2px 5px rgba($color: #000, $alpha: 0.2);
  transition: 0.3s;
  cursor: pointer;
}
.item-services:hover {
  transform: scale(1.02);
}
.item-services svg {
  font-size: 3.5rem;
}
.item-services h1 {
  @include font-titulos;
  padding: 3rem 0;
  min-height: 12.5rem;
}
.item-services p {
  margin-bottom: 2rem;
}
.item-services a {
  color: #707070;
}
.item-services a svg {
  font-size: 1.25rem;
  margin-left: 0.25rem;
}
.txt-services {
  margin: 2rem 0;
  @include font-titulos;
}
@media (min-width: 1025px) {
  .itens-services {
    @include d-flex;
    justify-content: center;
    overflow: hidden;
    padding: 2rem 0;
  }
  .item-services {
    min-width: 30%;
  }
  .txt-services {
    font-size: 32px;
    margin: 3rem 0;
  }
}
//Portfolio
.section-portfolio {
  @include margin-secao;
  position: relative;
}
.cont-portfolio {
  @include grid;
}
.item-portfolio {
  margin: 0 1rem;
  box-shadow: 1px 2px 5px rgba($color: #000, $alpha: 0.2);
}
.item-portfolio h1 {
  margin: 1rem 1rem;
}
.item-portfolio a {
  @include primary-button;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 10px;
  font-size: 1rem;
}
.item-portfolio a svg {
  margin-left: 0.25rem;
}
.glider-prev-portfolio {
  position: absolute;
  left: 0.25rem;
  top: 50%;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.glider-next-portfolio {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
@media (min-width: 1025px) {
  .glider-prev-portfolio {
    font-size: 2.5rem;
    left: 1.5rem;
  }
  .glider-next-portfolio {
    font-size: 2.5rem;
    right: 1.5rem;
  }
}
