@import "mixin";
//Introduction
.section-introduction {
  margin-top: 87px;
}
.cont-introduction {
  @include grid;
}
.text-introduction {
  margin-top: 2rem;
}
.text-introduction h1 {
  @include font-titulos;
}
.text-introduction h2 {
  font-size: 1.25rem;
  color: #707070;
}
.text-introduction p {
  margin: 1.5rem 0;
  @include font-textos;
}
.text-introduction a {
  @include primary-button;
}
