.portfolio__item {
  width: 100%;
  position: relative;
}
.portfolio__item::before {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  inset: 0px;
  z-index: -1;
  background: radial-gradient(circle at center center, white 10%, whitesmoke 11%, whitesmoke 100%);
}
.portfolio__item::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0px;
  opacity: 0.3;
  background: #000;
  border-radius: 1rem;
}
.portfolio__item img {
  width: 17.5rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
}
.portfolio__text {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  z-index: 5;
}
.portfolio__text h2 {
  font-size: 1.75rem;
  font-weight: bold;  
}
.portfolio__text p {
  font-size: .75rem;
}
.portfolio__text a {
  background-color: #dc2626;
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: .875rem;
  display: inline-block;
  @apply shadow-md;
}
.portfolio__technology ul {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin: 1rem 0;
  align-items: center;
}
.portfolio__technology ul li {
  background-color: #52525b;
  border-radius: 1rem;
  padding: .5rem .75rem;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  @apply shadow-md;
}
@media (min-width: 1025px) {
  .portfolio__item img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
  }
  .portfolio__text {
    opacity: 0;
    transform: translateY(15px);
    transition: .3s;
  }
  .portfolio__item:hover .portfolio__text {
      opacity: 1;
      transform: translateY(0);
  }
}
